---
AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
# AttributeMacros: ''
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: Both
# BraceWrapping: Can be set for custom wrapping
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
#BreakBeforeConceptDeclarations: Always
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: true
ColumnLimit: 120
CommentPragmas: '''^\s*clang-format ignore'''
CompactNamespaces: false
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 4
Cpp11BracedListStyle: false
DerivePointerAlignment: false
DisableFormat: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
# ForEachMacros: ''
# IfMacros: ''
IncludeBlocks: Regroup
IndentAccessModifiers: false
IndentCaseBlocks: true
IndentCaseLabels: true
IndentExternBlock: AfterExternBlock
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentRequires: true
#IndentRequiresClause: true  # Only available in clang-format 15
IndentWidth: 4
IndentWrappedFunctionNames: true
#InsertNewlineAtEOF: true  # Only available in clang-format 16
KeepEmptyLinesAtTheStartOfBlocks: false
LambdaBodyIndentation: Signature
Language: Cpp
# MacroBlockBegin: ''
# MacroBlockEnd: ''
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
PPIndentWidth: 4
PackConstructorInitializers: Never
PenaltyReturnTypeOnItsOwnLine: 1000000
PointerAlignment: Left
QualifierAlignment: Custom
QualifierOrder: [ 'inline', 'restrict', 'static', 'constexpr', 'const', 'volatile', 'type' ]
ReferenceAlignment: Left
ReflowComments: true
RemoveBracesLLVM: false
#RemoveSemicolon: false  # Only available in clang-format 16
#RequiresClausePosition: OwnLine  # Only available in clang-format 15
#RequiresExpressionIndentation: OuterScope  # Only available in clang-format 16
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 0
SortIncludes: CaseSensitive
SortUsingDeclarations: true  # Use Lexicographic with newer clang-format versions
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: c++20
# StatementAttributeLikeMacros: ''
# StatementMacros: ''
TabWidth: 4
# StatementMacros: ''
UseTab: Never
