Checks:
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-type-union-access

WarningsAsErrors: '*'

#CheckOptions:
#  - key: some-check.SomeOption
#    value: 'some value'