# CMake build directories

cmake-build-*
build

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
global-ao/resource/test_2.txt
global-ao/resource/xyzrgb_dragon.ply
global-ao/resource/xyzrgb_dragon.txt
